/* styles/Footer.module.css */
.footer {
    background-color: #000;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .logo {
 background-image: url('/public/LogoDYANE_blanc.png');
 width: 120px;
 height: 120px;
  }
  
  .footerNav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .footerNav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .footerNav a:hover {
    color: #aaa;
  }
  
  .copyright {
    font-size: 0.9rem;
    color: #888;
  }