/* styles/Footer.module.css */
.footer {
    background-color: #000;
    color: white;
    padding: 4rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
.footerLogoImage{
  transform: translateY(-5vh);
}
  
  .footerNav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .footerNav a {
    color: white;
    text-decoration: none;
    font-size: 0.62rem !important;
    transition: color 0.3s ease;
  }
  
  .footerNav a:hover {
    color: #aaa;
  }
  
  .copyright {
    font-size: 0.69rem;
    color: #888;
  }